*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;0,900;1,600&family=Open+Sans:wght@700&display=swap');

}
a{
    text-decoration: none;
}
    /* font-family: 'Nunito', sans-serif;

    font-family: 'Open Sans', sans-serif; */