header{
    border-bottom: 1px solid #a1a3ca;
    position: relative;
    background: rgba(9, 0, 59, 1);
}
header .navbar-nav .nav-item .nav-link{
    color: #a1a3ca;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
header .navbar-nav .nav-item .active{
    color: #fff;
}
/* >>>>site button>>>> */

header .navbar-nav .nav-item .site_button{
    background-color: #4c69ff;
    color: #fff;
    font-size: 14px;
}
/* search and accout area design */
.search{
    position:absolute;
    left: 0;
    right: 10%;
    bottom: -23px;
}
.search .nav-link{
    padding: 0.7rem 1rem;
    background: #2c1f64;
    font-size: 14px;
}
/* header area desgin finish here  */


/* hero section  */
.hero{
    background: #09003b;
    background-image: url(../image/bg/01_home.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6rem;
    padding-bottom: 8rem;
}
.hero .text p{
    color: #7c7bae;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.hero .text h2{
    color: #fff;
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.hero .search-box .search_box{
    background: transparent;
}
.hero .search-box .form-select{
    background: transparent;
    color: #a1a3ca;
}
.hero .search-box input{
    color: #7b73ac;
}
.hero .search-box input{
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* catagory  */
.hero .search-box .form-select{
    border: 2px solid;
    border-left: none;
    border-right: none;
    position: relative;
}
/* hero section area finish  */

.secound_section{
    padding: 5rem 0rem 5rem 0rem;
}
.secound_section .box{
    cursor: pointer;
    transition-duration: 0.7s;
}
.secound_section .box:hover{
    background: #4c69ff;
    position: relative;
}
.secound_section .box a i{
    color: #4c69ff;
    font-size: 3rem;
    transition-duration: 0.7s;
}
.secound_section .box:hover>a i{
    color: #fff;
}
.secound_section .box .text{
    color: #aaa1d0;
}